@model  PlantTracker.Models.Dto.JournalDto
@{
    ViewBag.Title = "NewJournal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    .breadcrumb {
        background: #2e2f31;
        color: #f7f7f7;
    }

        .breadcrumb-item {
            color: #8FBC8F;
        }

    .navbar {
        margin-bottom: 0;
    }

    body {
        background: #3e4649;
        color: #f7f7f7;
        font-family: 'Montserrat', sans-serif;
    }

    h1,
    h2 {
        font-weight: bold;
    }

    p {
        font-size: 16px;
        color: #cdcdcd;
    }

    .jumbotron {
        background: #27a967;
        color: white;
        text-align: center;
    }

    .jumbotron p {
        color: white;
        font-size: 26px;
    }

    .btn-primary {
        color: #fff;
        background-color: transparent;
        border-color: white;
        margin-bottom: 5px;
    }

    .btn-primary:hover {
        color: #27a967;
        background-color: white;
        border-color: white;
    }

    .navbar-inverse {
        background: #2e2f31;
        border: 0;
    }

    .navbar-inverse .navbar-nav li a {
        color: #f7f7f7;
        font-size: 16px;
    }

    .navbar-inverse .navbar-nav li a:hover {
        background: #27a967;
    }

    .dropdown-menu {
        background: #2e2f31;
        border-radius: 0;
        border: 0;
    }

    .dropdown-menu li a {
        padding: 10px;
    }

    .navbar-inverse .navbar-nav .dropdown-menu li a:hover {
        background: #2c463c;
    }
</style>





<br />
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="JournalTable">Journal Table</a></li>
        <li class="breadcrumb-item active" aria-current="page">New Journal</li>
    </ol>
</nav>
<hr />

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">New Journal</h1>
    </div>
</div>


@using (Html.BeginForm("NewJournal", "Journal", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
{
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Images, "", new { @type = "file", @multiple = "multiple" })
            @Html.ValidationMessageFor(model => model.Images, "", new { @class = "text-danger" })
    </div>
    <br />
    <hr />
    <div class="NewJournalInfo">
        <div class="Name">
            @Html.TextBoxFor(m => m.Name, new { placeholder = "Name", @class = "form-control" })
        </div>
        <br />
        <div class="Notes">
            @Html.TextAreaFor(m => m.Notes, new { placeholder = "Notes", @class = "form-control" })
        </div>
        <br />
        <div class="PlantSelect">
            @Html.Label("Select a Plant")
            <br />
            @Html.DropDownListFor(m => m.PlantId, Model.Plants, "--None--", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-lg-12">
        <hr />
        <a class="btn btn-primary" href="~/Journal/JournalTable" role="button">Back</a>
        <input type="submit" value="Insert" class="btn btn-primary" />
    </div>
}

<hr />

